$lightgreen: #90ee90;
$aqua: #00ffff;
$light--blue: #add8e6;
$medium--blue: #646cff;
$salmon: #db7b56;
$orange: #ffa500;
$dark--00: #000;
$dark--20: #202020;
$dark--22: #222;
$dark--33: #333;
$dark--blue: rgba(0, 0, 100, 0.5);