@use 'src/styles/mixin' as *;
@use 'src/styles/colors' as *;

.form--link {
    margin: 10px 0px;
    @include flexAlignJustify(space-between);
    @include bgBorderBoxShadow(rgba(0, 0, 100, 0.2), 7px, 0px 0px 2px $aqua);
    .form--subscribe {
        margin: 10px 20px;
        .link--subscribe {
            text-decoration: none;
            color: $aqua;
            &:hover {
                color: $light--blue;
            }
        }
    }
}