@use 'src/styles/mixin' as *;
@use 'src/styles/colors' as *;

//sass with placeholder
%placeholder-custom {
    color: $aqua;
}

.login--main {
    height: 100vh;
    .login--container {
        margin: auto;
        display: flex;
        height: 100vh;
        max-height: 100vh;
        .login--form {
            position: relative;
            display: flex;
            flex-direction: column;
            @include widthHeight(400px, auto);
            @include format(rgba(16, 58, 113, 0.5), auto, 20px 30px, 20px);
            border: 1px solid transparent;
            .form--divimg {
                display: flex;
                flex-direction: column;
                span {
                    @include flexAlignJustify(center);
                    @include widthHeight(100%, auto);
                    margin: 10px 0px;
                    filter: opacity(80%) drop-shadow(6px 6px 4px $dark--22);
                    img {
                        display: flex;
                        @include widthHeight(20%, auto);
                        border-radius: 47%;
                        object-fit: cover;
                    }
                }
                .form--title {
                    margin: auto 0px;
                    text-align: center;
                }
            }
            .div--msg {
                margin: auto 0px;
                .connection--msg {
                    color: $orange;
                }
            }
            .login--label {
                color: $aqua;
            }
            .input--custom {
                @include format($dark--blue, 5px 0px, 7px 10px, 3px);
                @include fontMarginPad(1.1rem, 600, none, margin-bottom, 10px, 10px);
                outline: none;
                @extend %placeholder-custom;
            }
            .error {
                text-align: justify;
                font-size: 14px;
                color: $orange;
            }
            button {
                @include fontMarginPad(1em, 600, 1px solid transparent, margin, 20px 0px, 12px 0px);
                @include bgBorderBoxShadow(rgba(0, 0, 100, 0.8), 8px, 0px 0px 7px $aqua);
                cursor: pointer;
                transition: border-color 0.25s, color 0.25s,;
                color: $aqua;
                &:hover {
                    background: $dark--blue;
                    border-color: $medium--blue;
                    
                    color: #289acb;
                }
                &:active {
                    margin-bottom: 22px;
                    @include bgBorderBoxShadow(rgba(0, 100, 255, 0.2), none, 0px 0px 2px $aqua);
                    color: $aqua;
                    transform: scale(0.95);
                }
                &:focus-visible {
                    outline: 4px auto -webkit-focus-ring-color;
                }
            }
            .form--link {
                margin: 10px 0px;
                @include flexAlignJustify(space-between);
                @include bgBorderBoxShadow(rgba(0, 0, 100, 0.2), 7px, 0px 0px 2px $aqua);
                .form--subscribe {
                    margin: 10px 20px;
                    .link--subscribe {
                        text-decoration: none;
                        color: $aqua;
                        &:hover {
                            color: $light--blue;
                        }
                    }
                }
            }
        }
    }
}